
body{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}

#weather-container {
    background-color: rgba(255, 255, 255, 0.24);
    border-radius:10px;
    width: 700px;
}

#sun {
    font-size: 70px;
    padding: 70px;
    color: rgb(230, 184, 35);
}

i {
    padding: 10px;
}